@model net_project_Revista.Models.FavouriteMovie
<form asp-page="MovieFavourites/MovieFavourites" method="post">
    <tr class="d-flex bg-light fav-movies">
        <td class="col-12 col-lg-2  ">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500@(Model.Movie.PosterPath)" alt="WishList">
        </td>
        <td class="col-12 col-lg-3">
            <div class="movie-detail">
                <h1 class="movie-category">@Model.Movie.Title</h1>
                <h3>
                    @Model.Movie.MovieGenres
                </h3>
            </div>
        </td>
        <td class="col-12 col-lg-2 item-release-date">@Model.Movie.ReleaseDate</td>
        <td class="col-12 col-lg-3 align-middle">
            <button type="submit" class="btn btn-secondary btn-lg">Remove</button>
        </td>
    </tr>
    <input type="hidden" asp-for="@Model.Movie.Id" name="id" />
    <input type="hidden" asp-for="@Model.Movie.Title" name="title" />
    <input type="hidden" asp-for="@Model.Movie.PosterPath" name="posterPath" />
</form>