@model net_project_Revista.ViewModels.MovieVM

<img class="app-movie-thumbnail" src="@Model.PosterPath" />
<input class="app-movie-addcart-button" type="submit" value="[ See More ]" />
<div class="app-movie-name">
    <span>@Model.Title</span>
</div>
<input type="hidden" asp-for="@Model.Id" name="id" />
<input type="hidden" asp-for="@Model.Title" name="title" />
<input type="hidden" asp-for="@Model.PosterPath" name="posterPath" />