@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model LoginModel

<div class="wrapper">
    <div class="signin">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Login</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="philweier@revista.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="jur@ss1cP@rk1993" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-light btn-block">Log in</button>
            </div>
            <input type="hidden" name="captcha" id="captchaV3Input" value="" />
            <section class="exlogin-section">
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="exlogin-btn-container">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-block btn-primary exlogin-btn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"> Log in with @provider.DisplayName</button>
                                    </div>
                                }
                            </div>
                        </form>
                    }
                }
                <br />
                <div class="container pb-2">
                    <div class="row">
                        <div class="col-5"><hr /></div>
                        <div class="col-2"><div class="orstyling text-center pt-1">OR</div></div>
                        <div class="col-5"><hr /></div>
                    </div>

                </div>




                <br />
                <a asp-page="/Account/Register"><button class="btn btn-lg btn-secondary btn-block register-btn" type="submit">Register Now</button></a>
            </section>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["RecaptchaV3:SiteKey"]"></script>
    <script>
   grecaptcha.ready(function() {
       grecaptcha.execute('@Configuration["RecaptchaV3:SiteKey"]', { action: 'login' }).then(function (token) {
           $("#captchaV3Input").val(token);
       });
   });
    </script>
}