@page
@model IndexModel
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
@{
    ViewData["Title"] = "Home page";
}
=======
>>>>>>> Stashed changes

>>>>>>> master

<div class="container">
    @if (Model.MovieIndex != null && Model.MovieIndex.Movies.Any())
    {
        <div class="row">
            @foreach (var movie in Model.MovieIndex.Movies)
            {
                <div class="col-md-4">
                    <partial name="_MoviePartial" for="@movie" />
                </div>
            }
        </div>
    }
    else
    {
        <p>No Products!</p>
    }
</div>


@*<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var movie in Model.Movies)
            {
                <div class="col-md-4">
                    <div class="card mb-4" style="width: 18rem;">
                        <img class="card-img-top" src="@movie.PosterPath" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <p class="card-text">@movie.Overview</p>
                            <h3 class="card-title">@movie.Runtime</h3>
                        </div>
                        
                    </div>
                    
                </div>
            }
            </div>
    </div>
<<<<<<< HEAD
</div>*@
=======
</div>

    

<<<<<<< Updated upstream
=======
<div class="container">
    @if (Model.MovieIndex != null && Model.MovieIndex.Movies.Any())
    {
        <div class="row">
            @foreach (var movie in Model.MovieIndex.Movies)
            {
                <div class="col-md-4">
                    <partial name="_MoviePartial" for="@movie" />
                </div>
            }
        </div>
    }
    else
    {
        <p>No Products!</p>
    }
</div>
>>>>>>> Stashed changes
>>>>>>> master
