@page
@model IndexModel
<section class="app-movie-filters">
    <div class="container">
        <form methd="get">
            <label class="app-movie-label" data-title="category">
                <select asp-for="@Model.MovieIndex.CategoriesFilterApplied" asp-items="@Model.MovieIndex.Categories" class="app-movie-filter"></select>
            </label>
            <button class="btn btn-success" type="submit">Apply</button>
        </form>
    </div>
</section>

<div class="album py-5">
    <div class="container">
        @if (Model.MovieIndex != null && Model.MovieIndex.Movies.Any())
        {
            <partial name="_Pagination" for="@Model.MovieIndex.PaginationInfo" />
            <div class="row">
                @foreach (var movie in Model.MovieIndex.Movies)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <partial name="_MoviePartial" for="@movie" />
                    </div>
                }
            </div>
            <partial name="_Pagination"for="@Model.MovieIndex.PaginationInfo" />
        }
        else
        {
            <p>No Products!</p>
        }
    </div>
</div>