@page
@model IndexModel
<section class="app-movie-filters">
    <div class="container">
        <form methd="get">
            <label class="app-movie-label" data-title="category">
                <select asp-for="@Model.MovieIndex.CategoriesFilterApplied" asp-items="@Model.MovieIndex.Categories" class="app-movie-filter"></select>
            </label>
            <input class="app-movie-addcart-button" type="submit" value="Apply" />
        </form>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        @if (Model.MovieIndex != null && Model.MovieIndex.Movies.Any())
        {
            <div class="row">
                @foreach (var movie in Model.MovieIndex.Movies)
                {
                    <div class="col-md-3">
                        <partial name="_MoviePartial" for="@movie" />
                    </div>
                }
            </div>
        }
        else
        {
            <p>No Products!</p>
        }
    </div>
</div>*@

<form asp-page="/moviedetails" method="post">
    @*<img class="app-product-thumbnail" src="@Model.Title " />*@
    @*<input class="app-product-addcart-button" type="submit" value="[ Add To Cart ]" />*@
    @*<div class="app-product-name">
        <span>@Model.Name</span>
    </div>*@
    @*<div class="app-product-price">
        <span>@Model.Price.ToString("C")</span><input type="number" asp-for="@Model.Quantity" name="quantity" />
    </div>*@
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Title" name="name" />
    @*<input type="hidden" asp-for="@Model.Price" name="price" />
    <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />*@
</form>