@page
@model Models.Movie
@{
    ViewData["Title"] = "Home page";
}




@*<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var movie in Model.Movies)
            {
                <div class="col-md-4">
                    <div class="card mb-4" style="width: 18rem;">
                        <img class="card-img-top" src="@movie.PosterPath" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <p class="card-text">@movie.Overview</p>
                            <h3 class="card-title">@movie.Runtime</h3>
                        </div>
                        
                    </div>
                    
                </div>
            }
            </div>
    </div>
</div>*@

<form asp-page="/moviedetails" method="post">
    @*<img class="app-product-thumbnail" src="@Model.Title " />*@
    @*<input class="app-product-addcart-button" type="submit" value="[ Add To Cart ]" />*@
    @*<div class="app-product-name">
        <span>@Model.Name</span>
    </div>*@
    @*<div class="app-product-price">
        <span>@Model.Price.ToString("C")</span><input type="number" asp-for="@Model.Quantity" name="quantity" />
    </div>*@
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Title" name="name" />
    @*<input type="hidden" asp-for="@Model.Price" name="price" />
    <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />*@
</form>